// Variables
$blue: rgb(4, 10, 61);
$header-text: rgb(190, 191, 225);
$white: rgb(236, 239, 243);

$navbar-dark-color: rgba(208, 209, 235, .75);
$navbar-dark-hover-color:rgba(190, 191, 225, 1);
$navbar-dark-active-color: rgb(194, 194, 202);

$p-text-color: rgba(17, 16, 16, 0.719);
$p-text-font-family: 'Roboto',
sans-serif;
$p-text-font-weight: 200;
$p-text-line-height: 2rem;
$p-text-font-size: 1.4rem;


// Custom SCSS
.main-body-content{
  margin-top: 4rem;
}

.header{
  background-color: $blue;
  height: 26rem;
  border: 0;
  cursor: pointer;
  .logo{
    .logo-col{
      background: url("../images/small-logo-image.jpg") no-repeat;
    }
  }

  .line-1 {
    margin-top: 3rem;
    margin-bottom: -3rem;
  }

  .line-2 {
    margin-top: 1rem;
  }

  h1, p {
    color: $header-text;
  }

  .line-3 {
    font-weight: 200;
  }
}

nav{
  background: $blue;
}

.main-body-content {
  background-color: $white;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#footer{
  background: $blue;
  height: 100%;
  justify-content: center;
  font-family: inherit;
  .footer-text{
    color: $header-text;
    font-weight: 100;
  }
}

.back-to-top {
  background-color: rgb(170, 168, 168);
  padding: 1rem 1.2rem;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  bottom: 1em;
  right: 1em;
  display: none;
  opacity: 0.5;
  z-index: 100;
  bottom: 1em;
  right: 1em;
}

.back-to-top:hover {
  background-color: #000;
}

.back-to-top .fa-chevron-up {
  font-size: 1.5em;
  color: rgb(248, 242, 242);
  text-align: center;
}

.email-box {
  background-color: rgb(170, 168, 168);
  padding: 1.2rem;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  right: 1em;
  display: none;
  opacity: 0.5;
  z-index: 100;
  bottom: 6em;
  right: 1em;
}

.email-box .fa-envelope {
  font-size: 1.5em;
  color: rgb(248, 242, 242);
}

.email-box:hover {
  background-color: #000;
}

.contact-header{
  margin-top: 6rem;
  padding: 5rem;
}

.contact-form{
  margin-bottom: 6rem;
}

.hidden-load{
  opacity: 0;
  .animated{
    opacity: 1;
  }
}

.text-content{
  font-family: $p-text-font-family;
  font-weight: $p-text-font-weight;
  line-height: $p-text-line-height;
  font-size: $p-text-font-size;
  color: $p-text-color;
}

.dropdown-menu.show {
  margin: .5rem;
  background-color: transparent;
}

.header-quote{
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  padding-top: 6rem;
}

.divider-bar{
  border-bottom: 2px solid black;
}

.btn.btn-light{
  background-color: $header-text;
}


@media screen and (min-width: 1200px) and (max-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  $nav-link-padding-x: 3rem;
  nav.navbar{
    margin-top: -5rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 1){
  $nav-link-padding-x: 3rem;
  nav.navbar {
    margin-top: -5rem;
}
.text-content{
  font-weight: 400; 
}

a.dropdown-item{
  color: $header-text;
}
}

@media screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
  nav.navbar {
    background: $blue;
    margin-top: -5rem;
  } .navbar-collapse{
    box-shadow: none;
  }
  .text-content{
    font-weight: 400;
    padding: 2rem;
  }

  a.dropdown-item{
    color: $header-text;
  }

  .header-quote{
    visibility: hidden;
  }
}




@import "node_modules/bootstrap/scss/bootstrap";

